.user-form {
}

.user-form-container {
  display: block;
  text-align: center;
  margin-top: 5%;
  border: 5px #aaaa slod;
  border-radius: 20px;
}

.user-form-input {
  display: block;
  margin-top: 2%;
}

.user-form-title {
  text-align: center;
  font-weight: 750;
  font-size: 2.5rem;
}

.user-form-button-container {
  position: absolute;
  bottom: 0;
  /* text-align: center !important; */
}

.user-form-button {
}

.user-form-link {
  /* margin-left: 50px !important; */
}
